.server-dashboard-app {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
}

.server-dashboard-app-body {
  display: flex;

  height: 100%;
  width: 100%;
}

.server-dashboard-app-content {
  width: 100%;

  padding: 15px;
}

.server-dashboard-app .mdc-snackbar__surface {
  max-width: 1000px !important;
}

.server-dashboard-app .mdc-snackbar__action {
  color: var(--mdc-theme-primary) !important;
}